# .gitignore file for picosdk-ps9000-python-examples repository
# Untracked files/folders to ignore.

# python bytecode cache files
**/*.pyc

# Microsoft Windows platforms

**/*.dll
**/*.exe

# pycharm files
.idea/

# SDK download warning file
.sdkwarning

# build folder
build/

# Folders
.vs/
Release/ 
Debug/